.farrascomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}
.farrascomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  background-color: white;
  border-radius: 4px;
  /* border-bottom: none; */
  /* border-top: none; */
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  /* top: 100%; */
  /* left: 0; */
  /* right: 0; */
}
.farrascomplete-item {
  padding: 4px 8px;
}
.farrascomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}
